<ng-container *ngIf="vo$ | async; let vo">
  <app-card>
    <ng-container card-header>
      <h1>Search</h1>
      <span>
        <mat-slide-toggle [formControl]="exactSearchControl">Match terms order</mat-slide-toggle>
      </span>
    </ng-container>
    <content card-content>
      <form class="px-4 pt-2">
        <mat-form-field class="w-full">
          <input
            type="text"
            placeholder="Series name, Codename, Product number or product name"
            matInput
            [formControl]="searchControl"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option
              *ngFor="let option of vo.suggestions"
              [value]="option.oid"
            >
              <span
                innerHtml="{{ option.highlightedName ?? option.name }}"
              ></span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </content> </app-card
></ng-container>
