openapi: "3.0.0"
info:
  version: 1.0.0
  title: Jours fÃ©riÃ©s en France
servers:
  - url: https://calendrier.api.gouv.fr/jours-feries/
paths:
  /{zone}.json:
    get:
      summary: Liste les jours fÃ©riÃ©s pour une zone, 20 ans dans le passÃ© et 5 ans dans le futur
      parameters:
        - name: zone
          in: path
          description: Le nom de la zone
          required: true
          example: metropole
          schema:
            $ref: "#/components/schemas/Zone"
      responses:
        "200":
          description: Les jours fÃ©riÃ©s
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dates"
  /{zone}/{annee}.json:
    get:
      summary: Liste les jours fÃ©riÃ©s pour une zone, pour une annÃ©e
      parameters:
        - name: zone
          in: path
          description: Le nom de la zone
          required: true
          example: metropole
          schema:
            $ref: "#/components/schemas/Zone"
        - name: annee
          in: path
          description: L'annÃ©e pour les jours fÃ©riÃ©s
          required: true
          example: 2025
          schema:
            type: integer
            example: 2025
      responses:
        "200":
          description: Les jours fÃ©riÃ©s
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dates"
components:
  schemas:
    Dates:
      description: Les dates et noms des jours fÃ©riÃ©s. Les clÃ©s sont les dates en ISO 8601, les valeurs sont les noms des jours fÃ©riÃ©s.
      type: object
      additionalProperties:
        type: string
      example:
        "2025-01-01": "Jour de l'an"
        "2025-04-21": "Lundi de PÃ¢ques"
        "2025-05-01": "FÃªte du Travail"
        "2025-05-08": "Victoire des alliÃ©s"
        "2025-05-29": "Ascension"
        "2025-06-09": "Lundi de PentecÃ´te"
        "2025-07-14": "FÃªte Nationale"
        "2025-08-15": "Assomption"
        "2025-11-01": "Toussaint"
        "2025-11-11": "Armistice"
        "2025-12-25": "NoÃ«l"
    Zone:
      type: string
      description: Nom des zones reconnues
      example: metropole
      enum:
        - alsace-moselle
        - guadeloupe
        - guyane
        - la-reunion
        - martinique
        - mayotte
        - metropole
        - nouvelle-caledonie
        - polynesie-francaise
        - saint-barthelemy
        - saint-martin
        - saint-pierre-et-miquelon
        - wallis-et-futuna
