<div class="flex flex-col h-full" *ngIf="vo$ | async; let vo">

  <h3>Product Status</h3>
  <div>
    <mat-button-toggle-group name="product-status" aria-label="Product Status" multiple [formControl]="statusControl">
      <mat-button-toggle value="L">
        <mat-icon *ngIf="vo.productStatus | has: 'L'">check_circle</mat-icon>
        <mat-icon *ngIf="!(vo.productStatus | has: 'L')">radio_button_unchecked</mat-icon>
        Active
      </mat-button-toggle>
      <mat-button-toggle value="O">
        <mat-icon *ngIf="vo.productStatus | has: 'O'">check_circle</mat-icon>
        <mat-icon *ngIf="!(vo.productStatus | has: 'O')">radio_button_unchecked</mat-icon>
        Obsolete
      </mat-button-toggle>
      <mat-button-toggle value="F">
        <mat-icon *ngIf="vo.productStatus | has: 'F'">check_circle</mat-icon>
        <mat-icon *ngIf="!(vo.productStatus | has: 'F')">radio_button_unchecked</mat-icon>
        Future/pre-released
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <nav mat-tab-nav-bar class="mb-4">
    <a mat-tab-link *ngFor="let cnt of contentTypesLinks" [routerLink]="[cnt.value | lowercase]" (click)="selectContentType(cnt.value)"
      [active]="cnt.value === vo.contentType">
      {{cnt.label}}
    </a>
  </nav>

  <div class="flex-1">
    <router-outlet></router-outlet>
  </div>
</div>