<div class="h-screen flex flex-col">
  <header class="h-16 bg-primary flex justify-between text-white">
    <div class="flex items-center brand pl-20 text-white">
      <a [routerLink]="['/']" routerLinkActive="router-link-active" class="">Product Content Browser</a>
    </div>
    <div class="flex-1"></div>
    <button mat-button>Sign-in</button>
    <button mat-button>Resource Center</button>
    <button mat-button>Support</button>
  </header>

  <div class="flex flex-1 overflow-hidden bg-white rounded-lg">
    <div class="flex flex-col w-96 py-6 px-2" #resizeBox>
      <app-catalog-list></app-catalog-list>
      <app-search class="mb-4"></app-search>

      <app-tree class="flex-1 min-h-0"></app-tree>
    </div>
    <div class="w-1 bg-primary h-full cursor-ew-resize" #dragHandleRight cdkDragLockAxis="x" cdkDrag (cdkDragStarted)="dragStart()"
      (cdkDragMoved)="dragMove(dragHandleRight, $event)"></div>
    <div class="flex flex-col flex-1 w-0 overflow-hidden px-2">
      <main class="relative flex-1 overflow-y-auto focus:outline-none">
        <div class="flex h-full py-6">
          <div class="min-w-0 w-full">
            <router-outlet></router-outlet>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>